<html>
    <body>
        {% url 'login' as login %}
        {% url 'register' as register %}

        <!-- Botón de menú -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a href="#" class="navbar-brand">Online Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Elementos del menú -->
            <div class="collapse navbar-collapse" id="menu">   
                <ul class="navbar-nav ms-auto">

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'logout'%}">
                                <span class="fas fa-sign-in-alt"></span>
                                Logout</a>
                        </li> 
                    {%else%}
                        <li class="nav-item {% if request.path == login %}active{%endif%}">
                            <a class="nav-link" href="{{login}}">
                                <span class="fas fa-user"></span>
                                Login</a>
                        </li>
                        <li class="nav-item {% if request.path == register %}active{%endif%}">
                            <a class="nav-link" href="{{register}}">
                                <span class="fas fa-user-plus"></span>
                                Registro</a>
                        </li>
                    {%endif%}
                </ul>
            </div>
        </nav>

        <!-- Boostrap -->
        <script src="https://kit.fontawesome.com/028f15e266.js" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    </body>
</html>